.root{
    -fx-background-image: url(https://www.yorkcounty.gov/ImageRepository/Document?documentID=43167);
}

.button{
    -fx-background-color: #1c2385;
    -fx-background-radius: 20px;
    -fx-font-family: 'Corbel';
}

.text-area{
    -fx-background-radius: 20px;
}